.star {
  width: 2px;
  height: 0;
  color: #05abf3;
  position: relative;
  display: block;
  border-right: 6px solid transparent;
  border-bottom: 119px solid #05abf3;
  border-left: 154px solid transparent;
  -webkit-transform: rotate(58deg);
}