.inputStyle {
  border: none;
  width: 80%;
  outline: none;
  font-size: 16px;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  height: 201px;
  justify-content: center;
  display: flex;
}

.inner {
  width: 1440px;
  background-color: rgb(255, 255, 255);
  height: 201px;
  display: flex;
  justify-content: center;
}

.header__h {
  height: 42px;
  display: flex;
  justify-content: space-between;
  color: rgb(122, 120, 120);

  .container {
    display: flex;
    list-style: none;

    li {
      padding-left: 30px;
      display: flex;
    }
  }
}

.header__m {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    color: rgb(98, 173, 223);
    display: flex;
    width: 241px;
    align-items: flex-end;

    span {
      font-size: 52px;
      width: 75px;
      float: left;
    }
  }

  .center {
    height: 48px;
    width: 507px;
    display: flex;
    align-items: center;
    font-size: 25px;

    a {
      color: rgb(98, 173, 223);
      padding-right: 5px;
      width: 10%;
      padding-top: 5px;
    }
  }

  .right {
    display: flex;
    width: 300px;
    justify-content: space-between;

    .a__container {
      color: rgb(85, 85, 85);
      display: flex;
      text-align: center;
      align-items: center;
      text-decoration: none;

      p {
        color: rgb(98, 173, 223);
        font-size: 25px;
        padding-right: 12px;
      }
    }
  }
}

.header__f {
  height: 69px;
  display: flex;
  align-items: center;

  .menu {
    display: flex;
    justify-content: space-between;
    width: 1201px;

    .menu__list {
      font-size: 14px;
      border-radius: 22px;

      div {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;

        span {
          padding-left: 5px;
          font-size: 25px;
          padding-top: 5px;
        }
      }
    }
  }
}